<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <h3>学生综合测评管理系统</h3>
    <h5>by 1172100327王金翼</h5>
    <a href="/Department/listDepartment/">显示学院</a>
    <a href="/Student/listStudent/">显示学生</a>
    <a href="/Teacher/listTeacher/">显示老师</a>
    <a href="/Lab/listLab/">显示实验室</a>
    <a href="/Paper/listPaper/">显示论文</a>
    <a href="/Score/listScore/">显示分数</a>
    <a href="/Prize/listPrize/">显示奖项</a>
    <a href="/Experience/listExperience/">显示经历</a>

</body>
</html>