<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>listStudent</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>sex</th>
            <th>age</th>
            <th>phone</th>
            <th>department</th>
            <th>lab</th>
            <th>tutor</th>
        </tr>
        {% for item in li %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.sex }}</td>
            <td>{{ item.age }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.department }}</td>
            <td>{{ item.lab }}</td>
            <td>{{ item.tutor }}</td>

        </tr>
        {% endfor %}
    </table>

    <a href="/Student/createStudent/">create</a>
    <a href="/Student/deleteStudent/">delete</a>
    <a href="/Student/queryScore/">query score</a>
    <a href="/Student/queryPrize/">query prize</a>
</body>
</html>