<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>prizeResult</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>student_id</th>
            <th>student_name</th>
            <th>prize_name</th>
        </tr>
        {% for item in result %}
        <tr>
            <td>{{ item.student_id }}</td>
            <td>{{ item.student_name }}</td>
            <td>{{ item.prize_name }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>