<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>listScore</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>id</th>
            <th>student_id</th>
            <th>course</th>
            <th>score</th>
        </tr>
        {% for item in li %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.student_id }}</td>
            <td>{{ item.course }}</td>
            <td>{{ item.score }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="/Score/createScore/">create</a>
    <a href="/Score/averageScore/">average</a>
</body>
</html>